<%= @posts.each do |post| %>
    <div class="post">
        <div class="image">
        	<%= image_tag post.picture.url(
        	transformation: [{height: 200, width: 300}]
        	) %>
        </div>
        <div class="content">
            <%= link_to "#{post.title}", post_path(post), class: "header" %>
        </div>
    </div>
<% end %>
<%= link_to 'Back', posts_path %>