
<h2>File Upload</h2>

<%= form_with(url: {action: :upload}, multipart: true) do %>
    <%= file_field_tag 'picture' %>
    <%= submit_tag "Upload" %>
<% end %>

<br>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
